@using System.Security.Claims;
@using PierresTreats.Models;

<div class="container">
  <h1>Welcome to the sweet world of Pierre's Sweet and Savory Treats</h1>
  <img >
  
  @if (User.Identity.IsAuthenticated)
  {
    <h4 align="center">Treats</h4>
      <ol class="center">
      @foreach (Treat treat in @ViewBag.Treats)
      {
        <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
      }
      </ol>
    <h4 align="center">Flavors</h4>
      <ol class="center">
      @foreach (Flavor flavor in @ViewBag.Flavors)
      {
        <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
      }
      </ol>  
    <table>
      <tr>
        <td>@Html.ActionLink("Flavors", "Index", "Flavors", null, new {@class = "myCssClass"})</td> 
        <td>@Html.ActionLink("Treats", "Index", "Treats", null, new {@class = "myCssClass"})</td>
        <td>@Html.ActionLink("Account Info", "Index", "Account", null, new {@class = "myCssClass"})</td>
      </tr>
    </table>
  }
  else
  {
    <table>
      <tr>
        <td>@Html.ActionLink("Create an account", "Index", "Account", null, new {@class = "myCssClass"})</td>
      </tr>
    </table> 
  }  
</div>