@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Flavor>

<div class="container">
@if (User.Identity.IsAuthenticated){
  <h3>Flavors for @User.Identity.Name</h3>
}
@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
} 
else
{
  <h3>No Flavors have been added yet!</h3>
}
<table>
  <tr>
    <td>@Html.ActionLink("Add new Flavor", "Create", null, null, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Add new Treat", "Create", "Treats", null, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "myCssClass"})</td>
  </tr>
</table>
</div>